/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        place-items: center;
        position: relative;
        top: 75px;
        height: 60px;
        background-color: gray;
        color: white;
    }
    
    .footer-copyright {
        display: inline-block;
    }
    
    .footer-socialMedia {
        float: right;
    }
    
    .footer-socialMedia-icon {
        display: inline-block;
        margin-right: 20px;
        opacity: 0.5;
    }
    
    .footer-socialMedia-icon:hover {
        opacity: 1;
    }
}