/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .TopBar{
        display: grid;
        position: fixed;
        height: 55px;
        width: 100%;
        border-bottom: 1px solid #CCC;
        background-color: white;
        z-index: 1;
        grid-template-rows: auto;
        grid-template-columns: 20% 60% 20%;
        grid-template-areas: ". content .";
    }
    
    .top-bar-content {
        grid-area: content;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 5% 30% 60% 5%;
        grid-template-areas: "icon title . menuButton";
    }
    
    .top-bar-content a {
        text-decoration: none;
        color: black;
    }
    
    .top-bar-title {
        grid-area: title;
        place-self: center;
        font-weight: bold;
    }
    
    .top-bar-title-button-label {
        font-size: 1rem !important;
        font-weight: bold !important;
        font-family: 'Muli', sans-serif !important;
    }
    
    .top-bar-icon {
        grid-area: icon;
        place-self: center;
    }
    
    .top-bar-icon img {
        width: 95%;
    }
    
    .top-bar-button-menuButton {
        grid-area: menuButton;
        place-self: center;
    }
    
    .top-bar-button-menuButton-button-label {
        font-size: 1.5em !important;
    }    
}