.TopBar{
    display: grid;
    position: fixed;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    background-color: white;
    z-index: 1;
    grid-template-rows: auto;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: ". content .";
}

.top-bar-content {
    grid-area: content;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 5% 15% 60% 20%;
    grid-template-areas: "icon title . buttons";
}

.top-bar-title {
    grid-area: title;
    place-self: center;
    font-weight: bold;
}

.top-bar-icon {
    grid-area: icon;
    place-self: center;
}

.top-bar-icon {
    grid-area: icon;
    place-self: center;
}

.top-bar-icon img {
    width: 95%;
}

.top-bar-buttons {
    display: grid;
    grid-area: buttons;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "about contact";
}

.top-bar-button-about {
    grid-area: about;
    place-self: center;
}

.top-bar-button-contact {
    grid-area: contact;
    place-self: center;
}