/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .MainContent {
        position: relative;
        top: 75px;
        display: grid;
        min-height: calc(100% - 60px - 75px);
        grid-template-rows: 100%;
        grid-template-columns: 20% 60% 20%;
        row-gap: 12px;
        grid-template-areas: 
        "sidebar-left main sidebar-right"
    }
    
    .horizontal-bar {
        height: 1px;
        border: 1px solid darkgray;
        border-left: none;
        border-right: none;
    }
}

