.MainContent {
    position: relative;
    top: 75px;
    display: grid;
    min-height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 20% 60% 20%;
    row-gap: 12px;
    grid-template-areas: 
    "sidebar-left main sidebar-right"
}