/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Post {
        grid-area: main;
        padding: 12px;
    }
    
    pre {
        border-radius: 10px;
    }
    
    .post-not-found-404 {
        font-size: 10rem;
    }
}