/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Feed {
        grid-area: main;
    }
    
    .feed-item {
        margin: 12px;
        padding: 12px;
        border-bottom: 1px solid lightgray;
    }
    
    .feed-item a {
        text-decoration: none;
        color: black;
    }
    
    .feed-item-title {
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
    }
    
    .feed-item-author {
        font-style: italic;
        margin-top: 0px;
        float: right;
        display: inline-block;
    }
    
    .feed-item-createdOn {
        margin-top: 10px;
        font-size: 0.75em;
        display: block;
    }
}

