/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Feed {
        grid-area: main;
    }
    
    .feed-item {
        margin: 12px;
        padding: 12px;
        border-bottom: 1px solid lightgray;
    }
    
    .feed-item a {
        text-decoration: none;
        color: black;
    }
    
    .feed-item-title {
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
    }
    
    .feed-item-author {
        font-style: italic;
        float: right;
    }
    
    .feed-item-createdOn {
        font-size: 0.75em;
    }
}
